#planetContainer{
	display: inline;

	line-height: 2em;
}

.compositionListItem{
	margin-left: 15%;
}

.planetComp{
	line-height: 1em;

}

.planetHeader{
	text-align: center;
}

.planetSize{
	text-align: center;
}

.planetDiv{
	margin-bottom: 4%;
}